[[source]]
url = "https://pypi.org/simple"
verify_ssl = false
name = "pip_conf_index_global"

[packages]
grpcio = "*"
flask = "*"
gunicorn = "*"
keras-image-helper = "*"
tensorflow-protobuf = "*"

[dev-packages]

[requires]
python_version = "3.8"
